<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enggineraplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/prime"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/prime"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".addskill.addSkillActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".postprofile.postProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".updateprofile.updateProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".profile.addPortoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".profile.addExperienceActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".profile.experienceProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".profile.portoProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".notificationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".transaction.detailOffersActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".experience.experienceActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".portofolio.portofolioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".detailworker.detailWorkerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".parentActivity" />
        <activity android:name=".resetpwActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".onboardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".regis.RegisActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".login.loginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".splashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>